<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= pageTitle %>
  </title>
</head>

<body dir="rtl"
  style="width:93%;height:100vh;overflow: hidden;align-self: center;align-items: center; margin: 0 auto; text-align: right;">

  <%if (qualification==='ok' ) { %>
    <div style="display: flex;flex-direction: column;
      overflow: hidden;
      height: 100vh;
      width: 100%;
      font-size: 14px;
      align-self: center;
     ">

      <p style="display: flex;flex-direction: column;
      color: #0c0;
       font-size: 27px;
         font-weight: 900;
          margin-top: 25px;
           background-color: #fff;
            padding:0 10;
            width: 100%;
            text-align: center;
            border-radius: 4px;
            ">پرداخت موفق</p>

      <div style="
        box-shadow: 0px 0px 7px #2222;
        display: flex;flex-direction: column;
         margin-top: 25px;
         align-self: center;
           width: 100%;
           max-width: 700px;
             background-color: #fff;
              border: 1px solid silver;
                border-radius: 7px;
                 padding: 15px 0 0;
                  align-items: center;
                   ">


        <div style="
          display: flex;
          flex-direction: column;
          align-self: center;
           border:1px solid silver;
             width: 100%;
             box-sizing:border-box;
              margin:15px auto 0;
               padding:0 15px;
                padding-top: 15px;
                 background-color: #f5f5f5;
                  border-radius: 4px;
                  ">

          <div style="display: flex;
            border-bottom: 1px solid silver;          
               width: 100%;
                flex-direction: row;
                 justify-content: space-between;
                   ">
            <p style="display: flex;flex-direction: column;
                   font-weight: 500;
                    
                    ">نام: <%= fullname %>
            </p>
            <div style="display: flex;justify-content: space-between;
              flex-direction: row;
               ">
              <p style="display: flex;flex-direction: column;
                font-weight: 500;
                 
                  ">شماره تلفن: <%= phone %>
              </p>
            </div>
          </div>

          <div style="display: flex;flex-direction: row;padding:8px 0 0;border-bottom: 1px solid silver; width: 100%;">
            <p style="font-weight: 500;"> آدرس : <%= address %>
            </p>
          </div>
          <div style="
            display: flex;flex-direction: column;
            padding:8px 0 0;
            border-bottom: 1px solid silver;
               width: 100%;
                flex-direction: row;
                 justify-content: space-between;
                   ">
            <p style="display: flex;flex-direction: column;font-weight: 500 ">پلاک: <%= plaque %>
            </p>
            <p style="display: flex;flex-direction: column;font-weight: 500 ">طبقه: <%= unit %>
            </p>
            <p style="display: flex;flex-direction: column;font-weight: 500 ">کد پستی: <%= postalCode %>
            </p>
          </div>

          <div style="display: flex;flex-direction: row;padding:8px 0 0;border-bottom: 1px solid silver;width: 100%;">
            <p style="font-weight: 500; width: 100%;overflow-wrap: break-word;"> سفارش شما : <%= titles %>
            </p>
          </div>

          <div style="
              display: flex;flex-direction: column;
              padding:8px 0 0;
                 width: 100%;
                  flex-direction: row;
                   justify-content: space-between;
                     ">
            <p id="price" style="display: flex;flex-direction: column;font-weight: 500 ">
              <%= price %>
            </p>
            <p id="createdAt" style="color:#999;display: flex;flex-direction: column;font-weight: 100 "></p>
          </div>


        </div>

      </div>

      <!-- <div style="margin:0 auto;width: 200;border-radius: 4px;margin-top: 14px;"> <button
          onclick="window.location.assign('http://localhost:3000', 'target=_self')"
          style="box-shadow: 0px 0px 7px #5552;border-radius: 4px;background-color:#fff;border: 1px solid rgb(158, 155, 155);padding:8px;color: rgb(0, 0, 0);font-size: 13px;">اتمام
          سفارش و بازگشت به صفحه ی اصلی</button></div> -->



      </Button>
      <script src="https://unpkg.com/jalali-moment/dist/jalali-moment.browser.js"></script>

      <script>

        console.log(`<%= unit %>`);

        function spacePrice(inputPrice = '') {
          let newNumber = (inputPrice).toString() ? (inputPrice).toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.') : inputPrice
          return newNumber
        }

       
        document.getElementById('price').innerHTML = 'قیمت: ' + spacePrice(document.getElementById('price').innerHTML)
        const jalaly = moment().locale('fa').format('hh:mm:ss YYYY/M/D')
        document.getElementById('createdAt').innerHTML = jalaly

      </script>
    </div>

    <% } else{ %>
      <div style="display: flex;flex-direction: column;width:100%;height:100%;padding-top:100px">
        <h1 style="display: flex;flex-direction: column;color:red;margin:0 auto;text-align:center;">خطا پرداخت انجام نشد
        </h1>
        <div>
          <% } %>


</body>

</html>